/* Classes */

.category-panel {
  background-color: aqua;
  display: grid;
  padding: 2rem 5rem;
  margin: 2rem;
}

.category-panel > .category-content-panel {
  display: flex;
  background-color: cornsilk;
  padding: 1.5rem;
}

.content-count {
  float: right;
}

.alignleft {
	float: left;
}

.category-name {
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1vw;
}

/* IDs */

/* Override existing */

/* HTML keywords */
