/* Classes */

.category-panel {
  display: grid;
  margin: 2rem;
  padding: 2rem 8rem;
}

.category-panel > .category-content-panel {
  background-color: cornsilk;
  overflow-x: auto;
  padding: 1.5rem;
}

.category-content-panel > .content-panel {
  margin: 1rem;
  padding: .5rem 2rem;
  display: inline-grid;
}

.content-count {
  float: right;
}

.alignleft {
	float: left;
}

.category-name {
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1vw;
}

/* IDs */

/* Override existing */

/* HTML keywords */
