/* Classes */

.category-name-panel {
  padding: 2rem 2rem;
  /* background-color: aqua; */
  display: inherit;
  margin: 2rem;
}

.content-count {
  float: right;
}

.alignleft {
	float: left;
}

.category-name {
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1vw;
}

/* IDs */

/* Override existing */

/* HTML keywords */
