/* Classes */

.header-panel {
  padding: 2rem 6rem;
  width: auto;
}

.app-title {
  font-size: larger;
  font-style: italic;
  font-weight: inherit;
  width: fit-content;
}

/* IDs */

/* Override existing */

/* HTML keywords */
